<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyun.vip.mapper.VipApiRegistryMapper">

    <insert id="upsert">
        INSERT INTO vip_api_registry (api_path, http_method, controller_class, method_name, platform_code, benefit_code, consume, message, scan_time, create_time, update_time) VALUES (#{apiPath}, #{httpMethod}, #{controllerClass}, #{methodName}, #{platformCode}, #{benefitCode}, #{consume}, #{message}, NOW(), NOW(), NOW()) ON DUPLICATE KEY UPDATE controller_class = VALUES(controller_class), method_name = VALUES(method_name), platform_code = VALUES(platform_code), benefit_code = VALUES(benefit_code), consume = VALUES(consume), message = VALUES(message), scan_time = NOW()
    </insert>

</mapper>
