<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyun.vip.mapper.VipApiRegistryMapper">

    <insert id="upsert">

        INSERT INTO vip_api_registry (api_path, http_method, controller_class, method_name, platform_code, benefit_code,
                                      consume, message, scan_time, create_time, update_time)
            VALUES (#{apiPath}, #{httpMethod}, #{controllerClass}, #{methodName}, #{platformCode}, #{benefitCode},
                    #{consume}, #{message}, NOW(), NOW(), NOW()) AS new
        ON DUPLICATE KEY UPDATE controller_class = new.controller_class,
                                method_name      = new.method_name,
                                platform_code    = new.platform_code,
                                benefit_code     = new.benefit_code,
                                consume          = new.consume,
                                message          = new.message,
                                scan_time        = NOW()
    </insert>

</mapper>
