<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyun.vip.mapper.VipBenefitUsageMapper">

    <insert id="upsertUsage">
        INSERT INTO vip_benefit_usage (user_id, platform_code, benefit_code, usage_count, usage_date, create_time, update_time) VALUES (#{userId}, #{platformCode}, #{benefitCode}, 1, #{usageDate}, NOW(), NOW()) ON DUPLICATE KEY UPDATE usage_count = usage_count + 1, update_time = NOW()
    </insert>

</mapper>
