<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyun.portal.mapper.PortalTaskMapper">

    <select id="selectByCode" resultType="com.moyun.portal.domain.entity.PortalTask">
        SELECT * FROM portal_task WHERE code = #{code}
    </select>

    <select id="selectAllActive" resultType="com.moyun.portal.domain.entity.PortalTask">
        SELECT * FROM portal_task WHERE status = 'active' ORDER BY task_type ASC, id ASC
    </select>

</mapper>
