<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyun.portal.mapper.PortalInterviewResumeTemplateLikeMapper">

    <resultMap type="com.moyun.portal.domain.entity.PortalInterviewResumeTemplateLike" id="PortalInterviewResumeTemplateLikeResult">
        <id     property="id"          column="id"           />
        <result property="templateId"  column="template_id"  />
        <result property="userId"      column="user_id"      />
        <result property="createTime"  column="create_time"  />
    </resultMap>

    <select id="selectLike" resultMap="PortalInterviewResumeTemplateLikeResult">
        select id, template_id, user_id, create_time
        from portal_interview_resume_template_like
        where template_id = #{templateId} and user_id = #{userId}
        limit 1
    </select>

</mapper>
